:root{
    --color-llight: #F8F9FA;
    --color-white: #212529 ;
    --color-success: #28a745;
}

body{
    font-family: 'Roboto', sans-serif;
}
.card-title{
    font-weight: 300;
    font-size: 1.25rem;
}
.card-text{
    font-weight: 300;
    font-size: 1rem;
    color: #707070;
}
.card-body{
    padding-top: 10px;
    padding-bottom: 10px;
}
.direccion{
    font-weight: 300;
    font-size: 0.81rem;
    color: #707070;
}
.precio{
    color: #707070;
}

.boton{
    justify-content: center;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


.derechos{
    font-size: 1rem;
    font-weight: 300;
    color: #707070;
    margin-top: 0.2rem;
}
p {
    color: #707070;
}