body{
    font-family: 'Roboto', sans-serif;
}

h2,h3,h4,h5, p {
    color: #707070;
    font-weight: 300;
}
.card-title{
    font-size: 1.67rem;
}
.card-text {
    font-size: 1.33rem;
}
.direccion {
    font-size: 1.08rem;
}
.final {
    margin-bottom: 0em;
}